Package: kendo-tournament-generator
Version: ${project.version}
Section: Utility
Priority: optional
Architecture: all
Essential: no
Recommends: openjdk-7-jre
Installed-Size: 9.7MiB
Maintainer: Jorge Hortelano [softwaremagico@gmail.com]
Replaces: kendotournament
Provides: kendo-tournament-generator
Description: Tool for the management of a championship of kendo. Developed in java.  
