/test/nbproject/private/
/test/build/
/target/
/install_linux/
/install_windows/
*.svg
*.*~
*.log*
*.lck
/database/kendotournament.sqlite
**/Thumbs.db
*.class
*.deb
.settings
.project
.classpath
gen
target
project.properties
output.log
KendoTournamentManager.zip