/test/nbproject/private/
/test/build/
/target/
/install_linux/
/install_windows/
*.*~
*.log*
*.lck
/database/kendotournament.sqlite
**/Thumbs.db
*.class
*.deb
.settings
.project
.classpath
gen
target
project.properties
output.log
KendoTournamentManager.zip
kendo-tournament-manager-*.deb
kendo-tournament-manager-*.exe
kendo-tournament-manager-*.zip