<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="CoreTestSuite">
    <test name="CipherTestSet" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="populateDatabase" />
                <exclude name="championshipTest" />
                <exclude name="customChampionshipTest" />
                <include name="simpleChampionshipTest" />  
                <exclude name="evenGroupsChampionshipTest" />    
                <exclude name="championshipTreeTest" />                
                <exclude name="championshipFightAreaTest" />                                          
                <include name="databaseStore" />
                <exclude name="scoreTest" />
                <exclude name="changeMemberOrderTest" />  
            </run>
        </groups>
        <classes>
            <class name="com.softwaremagico.ktg.persistence.PopulateDatabase" />
            <class name="com.softwaremagico.ktg.persistence.ChampionshipTest" />
            <class name="com.softwaremagico.ktg.persistence.SimpleChampionshipTest" />                        
            <class name="com.softwaremagico.ktg.persistence.CustomChampionshipTest" /> 
            <class name="com.softwaremagico.ktg.persistence.ChampionshipEvenGroupsTest" /> 
            <class name="com.softwaremagico.ktg.persistence.ChampionshipTreeTest" />
            <class name="com.softwaremagico.ktg.persistence.ChampionshipFightAreaTest" />
            <class name="com.softwaremagico.ktg.persistence.DatabaseStore" />
            <class name="com.softwaremagico.ktg.persistence.ScoreTest" />
            <class name="com.softwaremagico.ktg.persistence.ChangeMemberOrderTest" />
        </classes>
    </test>
</suite>