Package: kendotournament
Version: 0.97
Section: Utility
Priority: optional
Architecture: all
Essential: no
Depends: openjdk-6-jre | sun-java6-jre
Installed-Size: 9.7MiB
Maintainer: Jorge Hortelano [softwaremagico@gmail.com]
Replaces: kendotournament
Provides: kendotournament
Description: 
	Tool for gestionate a championship of kendo. Developed in java. 
