<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="CoreTestSuite">
	<test name="CipherTestSet" enabled="true" preserve-order="true">
		<!-- <groups>
			<run>
				<include name="createData" />
			</run>
		</groups>
		<classes>
			<class name="com.softwaremagico.ktg.database.populateDatabase" />
		</classes> -->
	</test>
</suite>