[Desktop Entry]
Version=@version@
Encoding=@encoding@
Name=@projectname@
Type=Application
Categories=Application;Utility;
Terminal=false
Icon[es_ES]=/usr/share/icons/hicolor/64x64/apps/kendotournament_PDF.ico
Icon=/usr/share/icons/hicolor/64x64/apps/kendotournament_PDF.ico
Exec=/usr/bin/kendo-tournament-manager-doc
Name[es_ES]=Kendo Tournament Manager Documentation
Comment[es_ES]=Documentacion del gestor de campeonatos de Kendo.
Comment=@description@
GenericName[es_ES]=
