[Desktop Entry]
Version=${project.version}
Encoding=${project.build.sourceEncoding}
Name=${project.name}
Type=Application
Categories=Application;Utility;
Terminal=false
Icon[es_ES]=/usr/share/icons/hicolor/64x64/apps/kendotournament.ico
Icon=/usr/share/icons/hicolor/64x64/apps/kendotournament.ico
Exec=/usr/bin/kendo-tournament-generator
Name[es_ES]=Kendo Tournament Generator
Comment[es_ES]=Gestion de campeonatos de Kendo.
Comment=${description}
GenericName[es_ES]=
